@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800&display=swap');
@import "tailwindcss";


.cl-avatarBox {
  height: 2.5rem;
  width: 2.5rem;
}

body {
  font-family: 'Poppins', 'sans-serif';
}

